body {
  background-color: #0f1a20;
}

nav .h1 {
  margin-left: 5px;
  color: white;
}

nav .h1:hover {
  margin-left: 5px;
  color: white;
}

h1 {
  text-transform: uppercase;
  color: white;
}

nav {
  background-color: #0a0a0a;
}

.card img {
  height: 450px;
  object-fit: cover;
}

.card-img-overlay {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

#movie-details.card {
  background-color: #0f1a20;
  color: white;
}

.reviews-container {
  border-top: 2px solid #1e1e1e;
  padding-top: 5px;
}

.reviews-container .card {
  background-color: #0f1a20;
  color: white;
  border-color: #1e1e1e;
}